<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>403</title>

    <!-- Bootstrap -->
    <link th:href="@{bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{custom/css/custom.min.css}" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">403</h1>
              <h2>抱歉，拒绝访问,请联系管理员!</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{custom/js/custom.min.js}"></script>
  </body>
</html>