<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>website manager</title>

    <!-- Bootstrap -->
    <link th:href="@{bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{datatables/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{datatables/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{datatables/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{datatables/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{custom/css/custom.css}" rel="stylesheet">
  </head>

  <body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <!-- sidebar menu -->
        <div th:replace="manager/partial/sidebarMenu :: sidebarmenu">
        </div>
      </div>
      <!-- top navigation -->
      <div th:replace="manager/partial/navigation :: navigation">
      </div>
      <!-- /top navigation -->
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>用户管理</h3>
            </div>
          </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>用户查询</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <!--<ul class="dropdown-menu" role="menu">-->
                          <!--<li><a href="#">Settings 1</a>-->
                          <!--</li>-->
                          <!--<li><a href="#">Settings 2</a>-->
                          <!--</li>-->
                        <!--</ul>-->
                      </li>
                      <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                      <!--</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-12">
                            <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                              <th>姓名</th>
                              <th>性别</th>
                              <th>用户类型</th>
                              <th>登录名</th>
                              <th>电话</th>
                              <th>邮箱</th>
                              <th>描述</th>
                              <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
      <div th:replace="manager/partial/footer :: footer">
        <!-- /footer content -->
      </div>
    </div>
  </div>
    <!-- jQuery -->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{fastclick/lib/fastclick.js}"></script>
    <script th:src="@{datatables/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{datatables/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{datatables/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{datatables/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{datatables/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{datatables/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{datatables/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{datatables/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{datatables/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{datatables/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{datatables/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
    <script th:src="@{custom/js/custom.js}"></script>
    <script th:src="@{js/tools.js}"></script>
  <script th:inline="javascript">

     var table= $('#datatable').DataTable({
          keys: true,
//          "iDisplayLength": 10,//每页显示10条数据
         "sPaginationType": "full_numbers", //分页风格，full_number会把所有页码显示出来（大概是，自己尝试）
// //              "sDom": "<'row-fluid inboxHeader'<'span6'<'dt_actions'>l><'span6'f>r>t<'row-fluid inboxFooter'<'span6'i><'span6'p>>", //待补充
         "bAutoWidth": true,//宽度是否自动，感觉不好使的时候关掉试试
         "bLengthChange": true, //页面记录数切换
//         "bFilter": false,
          "oLanguage": {//下面是一些汉语翻译
              // "sSearch": "搜索",
              "sLengthMenu": "每页显示 _MENU_ 条记录",
              "sZeroRecords": "没有检索到数据",
              "sInfo": "显示 _START_ 至 _END_ 条 &nbsp;&nbsp;共 _TOTAL_ 条",
              "sInfoFiltered": "(筛选自 _MAX_ 条数据)",
              // "sInfoEmtpy": "没有数据",
              // "sProcessing": "正在加载数据...",
              // "sProcessing": "<images src='{{rootUrl}}global/images/ajaxLoader/loader01.gif' />", //这里是给服务器发请求后到等待时间显示的 加载gif
              "oPaginate":
                  {
                      "sFirst": "首页",
                      "sPrevious": "前一页",
                      "sNext": "后一页",
                      "sLast": "末页"
                  }
          },
          // "bProcessing": true, //开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
          "bServerSide": false, //开启服务器模式，使用服务器端处理配置datatable。注意：sAjaxSource参数也必须被给予为了给datatable源代码来获取所需的数据对于每个画。 这个翻译有点别扭。开启此模式后，你对datatables的每个操作 每页显示多少条记录、下一页、上一页、排序（表头）、搜索，这些都会传给服务器相应的值。
          "sAjaxSource": getRootPath()+"/getAllUser", //给服务器发请求的url
          columnDefs:[
              {
                  targets: 7,
                  render: function (row, type, data, meta) {
                      return "<input type='button' value='删除' onclick='deleteUser("+data.id+")'/>"
                          +"<input type='button' value='编辑' onclick='modifyUser("+data.id+")'/>"
                  }
              },
              {
                  targets: 2,
                  render: function (row, type, data, meta) {
                      if(data.userType==2){
                        return "普通hr";
                      }else if(data.userType==1){
                        return "管理员";
                      }
                  }
              },
              { "orderable": false, "targets": 7 },
          ],
          "aoColumns": [ //这个属性下的设置会应用到所有列，按顺序没有是空
//              {"sDefaultContent": ''}, // sDefaultContent 如果这一列不需要填充数据用这个属性，值可以不写，起占位作用
              {"mData": 'userName'}, //mData 表示发请求时候本列的列明，返回的数据中相同下标名字的数据会填充到这一列
              {"mData": 'gender'},
              {"mData": 'userType'},
              {"mData": 'loginName'},
              {"mData": 'telNumber'},
              {"mData": 'email'},
              {"mData": 'description'},
              {"sDefaultContent": '', "sClass": "action"},//sClass 表示给本列加class
          ],
          "fnServerData": function (sSource, aoData,fnCallback) {
              console.log(sSource);
              console.log(aoData.toString());
              $.ajax({
                  "type": 'post',
                  "url": sSource,
                  "dataType": "json",
                  "data": {
                      aoData: JSON.stringify(aoData)
                  },
                  "success": function (resp) {
                      fnCallback(resp);
                  },
                  "error":function (resp) {
                      fnCallback(resp);
                  }
              });
          }

      });

      function modifyUser(id) {
          window.location.href=getRootPath()+"/getUserModifyPage?id="+id
      }
      function deleteUser(id) {
          var r=window.confirm ("确定删除？");
          if(r == false){
              return;
          }
          var url = getRootPath()+"/deleteUser";
          console.log(url);
          $.ajax({
              type:"get",
              url:url,
              dataType:'json',
              data:{id:id},
              success:function(data) {
                  reload();
              },
              error:function (data) {
                  reload();
                  alert("出现错误，请联系管理员。"+data.code);
              }
          });
      }
      function reload() {
          table.ajax.reload(null, false);
      }
      function initMenuState() {
          var menuState =[[${#httpSession.getAttribute('menuState')}]];
          if(menuState != null){
              $('body').attr('class',menuState);
          }
      }
      //      初始化 页面菜单状态
      $(function () {
          initMenuState();
      })
  </script>
  </body>
</html>
